@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'TheJamsil5Bold';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

#information {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 500ms;
}

/* 사이드 버튼 */
#btn {
    position: absolute;
    width: 33px;
    height: 50px;
    border: 3px solid #0B5ED7;
    background: white;
    color: #0B5ED7;
    text-align: center;
    line-height: 40px;
    border-radius: 7px;
    left: 326px;
    top: 450px;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
}

#btn:hover {
    cursor: pointer;
}

#btn span {
    font-size: 13px;
}

/* 사이드 바 */
#side-bar {
    position: absolute;
    /* border: 2px solid #0B5ED7; */
    background: white;
    width: 333px;
    height: 945px;
    box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* 게시판 제목 */
.board-info {
    background: #4690ff;
    color: #e9f2ff;
    margin: 0 auto;
    width: 100%;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-weight: bold;
    font-size: 1.9rem;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* 세션 닉네임 */
.board-nickName {
    width: 300px;
    border: rgba(11, 94, 215, 0.50) 2px solid;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 10px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.7rem;
}