/* 洹몃옒�봽 */
.result_graph_wrap {
    width: 100%;
    height: 90px;
}

.conv_wrap,
.safety_wrap {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.result_label_conv,
.result_label_safety {
    text-align: center;
    width: 30%;
    height: 100%;
}

#conv_first_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(54, 172, 93);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#safety_first_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(170, 35, 141);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


#conv_second_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(54, 172, 93);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#safety_second_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(170, 35, 141);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#conv_third_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(54, 172, 93);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#safety_third_graph {
    width: 0px;
    height: 15px;
    background-color: rgb(170, 35, 141);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}