@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body    {
    overflow: auto;
}

#writePageBtn   {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    background-color: rgb(86, 154, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
}
#listPage   {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
    border: rgba(11, 94, 215, 0.50) 2px solid;
}
#listPage:hover    {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    background-color: rgb(86, 154, 255);
    color: white;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
}
#listPageBtn    {
    text-decoration-line: none;
    color: inherit;
}

#writeRuleHead  {
    line-height: 40px;
    font-size: 1.08rem;
}

.gu_name_hr {
    background: rgba(11, 94, 215, 0.50);
    height: 2px;
    border: 0;
    margin-top: 0;
    margin-bottom: 10px;
}


#mainContent    {
    margin-left: 500px;
    padding-top: 90px;
}

#listLogo   {
    font-family: 'Courgette', cursive;
    position: absolute;
    margin-top: -40px;
    width: 500px;
    font-size: 2.5rem;
    line-height: 10px;
    text-decoration-line: none;
    color: inherit;
    border: 0px solid red;
}


table {

    left: 480px;
}

#topHeader {
    width: 1000px;
    height: 60px;

    top: 100px;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(184, 184, 184);
}

#botHeader  {
    width: 1000px;
    height: 50px;
    border-bottom : 1px solid black;

    top: 160px;
    border-bottom: 1px solid rgb(126, 126, 126);
    font-family: 'TheJamsil2Light';
}

#listTitle  {
    width: 820px;
    border: 0px solid red;
    text-align: left;
    padding-left: 30px;
    font-size: 1.25rem;
}

#listGu  {
    width: 150px;
    border: 0px solid red;
    
}

#listNickName  {
    width: 700px;
    border: 0px solid red;
    text-align: left;
    padding-left: 30px;
}

#listHit  {
    border: 0px solid red;
}

#listDate  {
    border: 0px solid red;
    width: 150px;
}

#listContent {
    width: 1000px;
    border-bottom: 1px solid black;
    height: auto;
    left: 480px;
    top: 210px;

    font-family: 'SUITE-Regular';
    line-height: 25px;
}
#listContents {
    /* border: 1px solid red; */
    padding: 30px;
    border-bottom: 1px solid black;
}
#contentBtn {
    margin: 20px;
    /* border: 1px solid red; */
}
#editBtn    {
    margin-left: 870px;
    background-color: white;
    border: none;
}
#delBtn {
    margin-left: 10px;
    background-color: white;
    border: none;
}
#editBtn:hover, #delBtn:hover   {
    cursor: pointer;
    color: #0B5ED7;    
}

#replyBox   {
    /* border: 1px solid rebeccapurple; */
    margin-top: 30px;
    height: auto;
    display: flex;
}

#listReply  {
    border: 1px solid rgba(176, 176, 176, 0.726);
    width: 880px;
    position: static; 
    resize: none;
}

#listReply::placeholder {
    padding-top: 43px;
    padding-left: 10px;
    font-weight: bold;
}
#listReply:focus {
    outline: none;
  }

#replyBtn   {
    border: 1px solid rgba(176, 176, 176, 0.726);
    border-radius: 5px;
    /* border-width: 2px; */
    position: static;
    background-color: rgb(254, 253, 253);
    /* border: none; */
    margin-left: 10px;
    width: 110px;
    height: 108px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.717);
    cursor: pointer;

}
#replyBtn:hover {
    border: 1px solid rgba(176, 176, 176, 0.726);
    border-radius: 5px;
    /* border-width: 2px; */
    position: static;
    background-color: #5699ffd0;
    /* border: none; */
    margin-left: 10px;
    width: 110px;
    height: 108px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#replyTitle {
    /* border: 1px solid rgba(8, 8, 8, 0.726); */
    margin-top: 20px;
    padding-left: 20px;
    width: 1000px;
    height: 70px;
    line-height: 70px;
    background-color: #5699ffd0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 1.3rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(107, 107, 107);
}

#replyList  {
    position: static;
    border: 1px solid #5699ffd0;
    border-radius: 5px;
    border-width: 2px;
    width: 1000px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}
#commentUser    {
    width: 1000px;
    height: 40px;
    padding-left: 20px;
    border: none;
    padding-top: 10px;
}
#commentDiv {
    margin: 10px;
}
#commentContent {
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border: none;
    font-family: 'SUITE-Regular';
}


