@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#mainContent    {
    margin-left: 500px;
    padding-top: 90px;
}

#listPage   {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
    border: rgba(11, 94, 215, 0.50) 2px solid;
}
#listPage:hover    {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    background-color: rgb(86, 154, 255);
    color: white;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
}
#listPageBtn    {
    text-decoration-line: none;
    color: inherit;
}

#listLogo   {
    font-family: 'Courgette', cursive;
    position: absolute;
    margin-top: -40px;
    width: 500px;
    font-size: 2.5rem;
    line-height: 10px;
    text-decoration-line: none;
    color: inherit;
    border: 0px solid red;
}


table {

    left: 480px;
}

#topHeader {
    width: 1000px;
    height: 60px;

    top: 100px;
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(184, 184, 184);
}

#botHeader  {
    width: 1000px;
    height: 50px;
    border-bottom : 1px solid black;
    top: 160px;
    border-bottom: 1px solid rgb(126, 126, 126);
    font-family: 'TheJamsil2Light';
}

#listTitle  {
    font-family: 'TheJamsil5Bold';
    line-height: 60px;
    width: 820px;
    height: 60px;
    border: 0px solid red;
    text-align: left;
    padding-left: 23px;
    font-size: 1.25rem;
    resize: none;
}
#listTitle:focus {
    outline: none;
}

#listGu  {
    width: 150px;
    border: 0px solid red;
    
}

#listNickName  {
    width: 700px;
    border: 0px solid red;
    text-align: left;
    padding-left: 30px;
}

#listHit  {
    border: 0px solid red;
}

#listDate  {
    border: 0px solid red;
    width: 150px;
}

#listContent {
    width: 1000px;
    border-bottom: 1px solid rgb(154, 154, 154);
    height: auto;
    left: 480px;
    top: 210px;
    line-height: 25px;
    font-family: 'TheJamsil5Bold';
    
}
#listContents {
    /* border: 1px solid red; */
    padding: 30px;
    border-bottom: 0px solid black;
}

#writeCont2 {
    font-family: 'TheJamsil2Light';
    width: 655px;
    margin-left: 120px;
    height: 550px;
    resize: none;
    font-size: 1rem;
    border-radius: 5px;
    border-color: #d2d2d2;
}
#writeCont2:focus {
    outline: none;
}

#editBtn    {
    font-family: 'TheJamsil5Bold';
    font-size: 1.1rem;
    background-color: #5699ffd0;
    border: 1px solid rgb(183, 182, 182);
    border-radius: 7px;
    margin-left: 360px;
    margin-bottom: 24px;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
}

#logo-img img  {
    width: 110px;
    position: absolute;
    top: 780px;
    left: 110px;
    
}