@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

#listLogo   {
    font-family: 'Courgette', cursive;
    position: absolute;
    width: 500px;
    font-size: 2.5rem;
    line-height: 10px;
    margin-top: -50px;
    text-decoration-line: none;
    color: inherit;
    border: 0px solid red;
}

#wirteRule  {
    width: 280px;
    border: rgba(11, 94, 215, 0.50) 2px solid;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    height: 380px;
}
#RuleTitle  {
    padding: 15px;
    font-size: 1.1rem;
}
#writeRuleHead  {
    margin-top: 40px;
}
#writeRuleHead >li  {
    padding: 5px;
    line-height: 40px;
    text-align: left;
    
}
.gu_name_hr {
    background: rgba(11, 94, 215, 0.50);
    height: 2px;
    border: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

#listPage   {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
    border: rgba(11, 94, 215, 0.50) 2px solid;
}
#listPage:hover    {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    text-align: center;
    width: 280px;
    height: 45px;
    line-height: 45px;
    background-color: rgb(86, 154, 255);
    color: white;
    border-radius: 5px;
    font-family: 'TheJamsil5Bold';
    font-size: 1.05rem;
    cursor: pointer;
}
#listPageBtn    {
    text-decoration-line: none;
    color: inherit;
}

#writeMain {
    position: absolute;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 1000px;
    top: 140px;
    left: 500px;
    padding-bottom: 18px;
}

.writeSection1  {
    border: 0px solid red;
    width: 1000px;
    height: 50px;
    padding: 10px;
}
#writeTitle1    {
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 45px;
}

#writeTitle2    {
    font-family: 'TheJamsil2Light';
    width: 655px;
    height: 40px;
    resize: none;
    font-size: 1.2rem;
    line-height: 38px;
    margin-top: 5px;
    padding-left: 5px;
    border-radius: 5px;
    border-color: #d2d2d2;
    
}
#writeTitle2:focus {
    outline: none;
}

.writeSection2  {
    border: 0px solid red;
    width: 1000px;
    height: 50px;
}
#writeCont1 {
    font-size: 1.2rem;
    padding-left: 35px;
    /* padding-right: 45px; */
}

#writecont2 {
    font-family: 'TheJamsil2Light';
    width: 655px;
    margin-left: 52px;
    height: 550px;
    resize: none;
    font-size: 1rem;
    border-radius: 5px;
    border-color: #d2d2d2;
}
#writecont2:focus {
    outline: none;
}

#writeBtn   {
    font-family: 'TheJamsil5Bold';
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(174, 174, 174);
    background-color: #5699ffd0;
    color: white;
    width: 160px;
    height: 50px;
    margin-top: 495px;
    margin-right: 10px;
    cursor: pointer;
}

#logo-img img  {
    width: 110px;
    position: absolute;
    top: 780px;
    left: 110px;
    
}
